{% paginate store.events by 24 %}
  <div class="row">
    <div class="large-12 columns">
      <h4>{{ store.calendar.title }}</h4>
      <hr/>

      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for event in store.events %}
          <li>
            {% include 'event-for-grid.html' %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="pagination-centered">
        {{ store.events_pagination }}
      </div>
    </div>
  </div>
{% endpaginate %}