{% if config['hero_images_displayed'] %}
  <div class="row">
    <div class="large-12 columns">
      <ul data-orbit>
        <li>
          {% if config['hero_link_0'] %}
            <a href="{{ config['hero_link_0'] }}">
              <img src="{{ config['hero_image_0'] }}"/>
            </a>
          {% else %}
            <img src="{{ config['hero_image_0'] }}"/>
          {% endif %}
        </li>

        {% if config['hero_image_1'] != 'http://d38hlclas8yf9g.cloudfront.net/featured-image-placeholder-blue.png' %}
          <li>
            {% if config['hero_link_1'] %}
              <a href="{{ config['hero_link_1'] }}">
                <img src="{{ config['hero_image_1'] }}"/>
              </a>
            {% else %}
              <img src="{{ config['hero_image_1'] }}"/>
            {% endif %}
          </li>
        {% endif %}

        {% if config['hero_image_2'] != 'http://d38hlclas8yf9g.cloudfront.net/featured-image-placeholder-blue.png' %}
          <li>
            {% if config['hero_link_2'] %}
              <a href="{{ config['hero_link_2'] }}">
                <img src="{{ config['hero_image_2'] }}"/>
              </a>
            {% else %}
              <img src="{{ config['hero_image_2'] }}"/>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}

{% if config['featured_category_slug_0'] %}
  {% assign featured_category_0 = store.category_by_slug[config['featured_category_slug_0']] %}

  {% if featured_category_0 %}
    <div class="row">
      <div class="large-12 columns">
        <h4>{{ featured_category_0.name }} <a class="right" href="{{ featured_category_0.url }}">View All</a></h4>
        <hr/>

        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
          {% for product in featured_category_0.products limit:8 %}
            <li class="{% if forloop.index > 6 %}show-for-large-up{% elsif forloop.index > 4 %}show-for-medium-up{% endif %}">
              {% include 'product-for-grid.html' %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if config['featured_category_slug_1'] %}
    {% assign featured_category_1 = store.category_by_slug[config['featured_category_slug_1']] %}

    {% if featured_category_1 %}
      <div class="row">
        <div class="large-12 columns">
          <h4>{{ featured_category_1.name }} <a class="right" href="{{ featured_category_1.url }}">View All</a></h4>
          <hr/>

          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            {% for product in featured_category_1.products limit:4 %}
              <li class="{% if forloop.index > 3 %}show-for-large-up{% elsif forloop.index > 2 %}show-for-medium-up{% endif %}">
                {% include 'product-for-grid.html' %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if config['featured_category_slug_2'] %}
    {% assign featured_category_2 = store.category_by_slug[config['featured_category_slug_2']] %}

    {% if featured_category_2 %}
      <div class="row">
        <div class="large-12 columns">
          <h4>{{ featured_category_2.name }} <a class="right" href="{{ featured_category_2.url }}">View All</a></h4>
          <hr/>

          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            {% for product in featured_category_2.products limit:4 %}
              <li class="{% if forloop.index > 3 %}show-for-large-up{% elsif forloop.index > 2 %}show-for-medium-up{% endif %}">
                {% include 'product-for-grid.html' %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endif %}

{% else %}

  <div class="row">
    <div class="large-7 medium-6 small-12 columns">
      <h4>News</h4>
      <hr/>

      {% paginate store.news.items by 4 %}
        {% for item in store.news.items %}
          {% if forloop.index > 1 %}
            <hr/>
          {% endif %}

          <article class="news">
            <h6>{{ item.published_at | date: "%B" }} {{ item.published_at | date: "%d" | ordinalize }}, {{ item.published_at | date: "%Y" }}</h6>
            <p class="subheading">{{ item | link_to_news_item }}</p>

            <div class="news-item-body">
              {{ item.body }}
            </div>
            <p class="news-item-body-expand">
              <a hfer="#" data-behavior="toggle-news-item">+ More</a>
            </p>
          </article>
        {% endfor %}
      {% endpaginate %}
    </div>
    <div class="large-5 medium-6 small-12 columns">
      <h4>{{ config['default-category-heading-text'] }}</h4>
      <hr/>

      {% paginate store.products by 2 %}
        <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
          {% for product in store.products %}
            <li>
              {% include 'product-for-grid.html' %}
            </li>
          {% endfor %}
        </ul>
      {% endpaginate %}

      {% if config['home-page-soundcloud-user-id'] %}
        <h4>{{ config['home-page-soundcloud-title'] }}</h4>
        <hr/>
        <div class="soundcloud-container">
          <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/{{ config['home-page-soundcloud-user-id'] }}&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true&color={{ config['soundcloud_player_color'] | replace:'#','' }}"></iframe>
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}