{% paginate news.items by 5 %}
  <div class="row">
    <div class="large-9 columns" role="content">
      {% for item in news.items %}
        {% if forloop.index > 1 %}
          <hr/>
        {% endif %}

        <article>
          <h3>{{ item | link_to_news_item }}</h3>
          <h6>Posted on {{ item.published_at | date: "%B" }} {{ item.published_at | date: "%d" | ordinalize }}, {{ item.published_at | date: "%Y" }}</h6>

          {{ item.body }}
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="pagination-centered">
        {{ news.items_pagination }}
      </div>
    </div>
  </div>
{% endpaginate %}