{% paginate roster.items by 25 %}
  <div id="roster" class="row">
    <div class="large-12 columns">
      <h4>{{ roster.title }}</h4>
      <hr/>

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
        {% for item in roster.items %}
          <li>
            <div>
              {% if item.images.size > 0 %}
                <a class="th" href="{{ item.url }}" style="background-image: url('{{ item.images.first.v600_url }}');" ></a>
              {% else %}
                <a class="th" href="{{ item.url }}" style="background-image: url('https://d38hlclas8yf9g.cloudfront.net/product-image-placeholder-600.png');" ></a>
              {% endif %}
              <div class="panel panel-info">
                <div><h5><a href="{{ item.url }}">{{ item.name }}</a></h5><hr/></div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="pagination-centered">
        {{ roster.items_pagination }}
      </div>
    </div>
  </div>
{% endpaginate %}